{% extends 'books/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>{{ object.title }}</h1>
    <img src="{{ object.image.url|default:'https://via.placeholder.com/150' }}" class="img-fluid" alt="{{ object.title }}">
    <p><strong>Author:</strong> {{ object.author }}</p>
    <p><strong>Price:</strong> ${{ object.price }}</p>
    <a href="{% url 'add_to_cart' object.id %}" class="btn btn-success">Add to Cart</a>
    <a href="{% url 'buy_book' object.id %}" class="btn btn-primary">Buy Now</a>
</div>
{% endblock %}